@charset "ISO-8859-1";

#nav{
	padding-top: 30px;
	padding-left: 20px;
	background: #f90335;
	width: 35%;
	height: 110%;
	border-radius: 40px;
	opacity: .90;
	border: 5px solid #000000;
	font-size: 20px;
}
.shp{
	padding-top: 30px;
	padding-left: 20px;
	background: #f90335;
	width: 40%;
	height: 110%;
	border-radius: 40px;
	opacity: .90;
	border: 5px solid #000000;
	font-size: 20px;
}

body{
	background:url(crave.jpg);
	background-size: 100% 1200px;
	padding-top:0px;
	background-repeat: no-repeat;

}
h3{
	font-family:Lucida Calligraphy;
	font-size: 30px;
}
h1.lognam{
	font-family:Lucida Calligraphy;
	font-size: 40px;
	color: blue;
	background-color: white;
}
h1.lonam{
	font-family:Lucida Calligraphy;
	font-size: 40px;
	color: blue;
}
select{	
	width:150px;
	border: 2px solid black;
}