<!DOCTYPE html>
<html>

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		   <meta name="viewport" content="width=device-width, initial-scale=1">
			  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
			  
			  
			  
			  
			  
		
		<title>John's Online Shop</title>
 
		<script type = "text/javascript" language = "javascript" src = "js/match_harmony.js"></script>
		<script src="js/angular.min.js"></script>
   		 <script src="js/angular-mocks.js"></script>

         <script src="js/johnShop.js"></script>
          <script src="js/SharedLogin.js"></script>
 	
		<link rel="stylesheet" type="text/css" href="css/webstyle.css">
		<link rel="icon" href="Logo.png" sizes="180x180" type="image/png" >
 
		<style>
 
		</style>

	</head>


	<body ng-app="shop" ng-controller="Loginctrl" >
		
	{{20+10}}



		<div id="shell">
	

			
		<table align = "center"  height = "100%" width = "150%" >
		   <tr>
				<td>
		<ul>
		 
		 <li><a href="index2.html">Home</a></li>
		 <li><a href="about.html">About Us</a></li>

		 <li><a href="form.html">Request</a>
		 

		  </li>
		 <li><a href="#">Contact</a>
		  <ul>
		   
		  </ul>
		 </li>
		 <li><a href="#">References</a></li>
		</ul>
		</td>
		</tr></center>
		</table>


		<img src="grocery.jpg" usemap="#image-map" width = "1600px" height = "1200px">
		
		<li ng-hide="!Pass" ng-controller="Loginctrl">
		<form n"class="m-t" role="form" name="loginToIGraph"  >
		
		
		
		       	<center><div id = "nav">
               	<center><h3>LOGIN TO THE STORE</h3></center>
	                <div class="form-group">
	                    <label>Username</label>		<input type="text" class="form-control" placeholder="Username" required="" ng-model="username" ></label>
	                </div><br>
	                <div class="form-group">
	                    <label>Password</label>		<input type="password" class="form-control" placeholder="Password" required="" ng-model="password" >
	                	<a href="#"><small>         Forgot password?</small></a><br>
	                </div>
	                <center><button ng-model="Pass" type="submit"  class="btn btn-primary block full-width m-b" ng-click="login()">Login</button>
	                
	               
	                				
	                </center>
	                
            	</div></center></div>
            </form>  
</div>
		<map name="image-map">
			<area target="" alt="" title="" href="form.html" coords="789,956,1143,1082" shape="rect">
		</map>

	
				<p><font size = "5"> 

				<center>
		
		
		
		</li>
		
    <li ng-hide="Pass">  <div class="container" ng-controller="RequestController"  >
				  <h2>Requests</h2>
				  <p>Click on the button to see Request</p>
				  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#dems" onclick="showreq()">Show orders</button>
				  <div id="dems" class="collapse">
				   		<h2>Request Table</h2>
						  <p>The .table-bordered class adds borders to a table:</p>            
						  <table class="table table-bordered">
						    <thead>
						      <tr  >
						        <th>Name</th>
						        <th>snackname</th>
						        <th>QTY</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="buy in cart">>
						        <td>{{ buy.name}}</td>
						        <td>{{ buy.snack}}</td>
						        <td>{{ buy.qty}}</td>
						        <td>{{ buy.total}}</td>
						      </tr>
						   
						    </tbody>
						  </table>
										 
						
						  </div>	
			
				 

  </div>	

					<font size = "5"> </font></p>

		</li>			
					
		<li ng-hide="!Pass">	
		 <table>
			<center>
		<table align = "center"  height = "90%" width = "70%" >
		   <tr>
				<td>


		<p>John's Online Shop mission is to deliver quality products at affordable prices to our independent students or school staff around the campus of UTECH by providing local procurement, distribution, marketing and supply chain management.</p>




		</td>
		</tr></center>
		</table>
				
				
				
				
				<br><br><br><br>
			
				
				<img src ="strip.png" width = "1500px" height = "400px">
				
				
			

				<br><br>	<br><br>	
				
			<div class="parallax"></div>
					<img src ="customer.jpg" width = "1550px" height = "400px">>
					
					
			
				
				<br>
		<div class="collage"></div>


		<br><br><br>

			
				
			<br><br><br><br><br>
				<div class="container">
				
				  <p>Click on the button to SIGN UP.</p>
				  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Sign up</button>
				  <div id="demo" class="collapse">
				    <!-- Material form register -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign up</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" ng-controller="cartController" >

            <div class="form-row" >
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormFirstName" class="form-control" required="" ng-model="user.stu_ID">{{user.stu_ID}}
                        <label for="materialRegisterFormFirstName">Student ID</label>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormLastName" class="form-control" required=""ng-model="user.name">
                        <label for="materialRegisterFormLastName">Name</label>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="text" id="materialRegisterFormEmail" class="form-control" required="" ng-model="user.location">
                <label for="materialRegisterFormEmail">Location</label>
            </div>

            
            
    

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form register -->
				  </div>
				</div>
	<div class="container">
				  <h2>PLACE YOUR ORDER</h2>
				  <p>Click on the button to Place order.</p>
				  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demos">Place order</button>
				  <div id="demos" class="collapse">
				    <!-- Material form register -->
		<div class = "successfuldating">
		 <center><h1 id = "a:link"><a href = "success.html" class="class1">Things You Can Find at John's Shop</a></h1></center> 
		 
		 <div id="slide">
		  <div class="slideshow-container">
			 <div class="mySlides fade"> <img src="black.jpg" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="bla.jpg" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="success2.jpg" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="splashsuccess.png" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="qwr.jpg" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="prop.jpg" style="width:100%"> </div>
			

			
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a> </div>
		  <br>
		  <div style="text-align:center"> 
		  <span class="dot" onclick="currentSlide(1)"></span> 
		  <span class="dot" onclick="currentSlide(2)"></span> 
		  <span class="dot" onclick="currentSlide(3)"></span>
		  <span class="dot" onclick="currentSlide(4)"></span>
		  <span class="dot" onclick="currentSlide(4)"></span>
		  <span class="dot" onclick="currentSlide(4)"></span>
		  <span class="dot" onclick="currentSlide(4)"></span>
		   </div>
		 

		<br><br>
		</div>
		</div>
		
		<div class="success"ng-controller="snackController" >
		
		<table cellspacing="0" cellpadding="0">
 				  <colgroup span="7"></colgroup>

				   <tbody>
				     <tr class="days">
				       <th scope="col" title="Name">Select Snack</th>
				     
				     </tr>

   

				   		<h2>SnackTable</h2>
						      
						  <table class="table table-bordered">
						    <thead>
						      <tr  >
						        <th>Check</th>
						         <th>Image</th>
						        <th>Snack name</th>
						        <th>In Stock</th>
						        <th>QTY</th>
						        <th>Price</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="(key,value) in snacks">
						       <td> <button ng-model="Pass" type="submit"  class="btn btn-primary block full-width m-b" ng-click="addItem(value)">Add to cart</button></td>
						        <td> <input type="checkbox" ng-model="choice[$index]" ng-true-value="{{value}}" ng-false-value="{{undefined}}" /></td>
						         <td><img src="{{value.pic}}" style="width:50px;height:50px" /></td>
						        <td>{{value.name}}</td>
						        <td>{{value.qty}}</td>
						        <td><select name="multipleSelect" id="multipleSelect" ng-model="value.qtys" >
											      <option value="1">1</option>
											      <option value="2"> 2</option>
											       <option value="3"> 3</option>
											      <option value="4"> 4</option>
											      <option value="5"> 5</option>
											      <option value="6"> 6</option>
											      <option value="7"> 7</option>
											      <option value="8"> 8</option>
											      <option value="9"> 9</option>
											      <option value="10"> 10</option>
											     
											    </select></td>
						        <td>{{value.price}}</td>
						      </tr>
						   
						    </tbody>
						  </table>
										 
						
						  </div>	
			
				 

  </div>	
 <div class="container">    
  
 <i class="fas fa-cart-arrow-down" class="btn btn-info" data-toggle="collapse" data-target="#cart" ></i>
  
		 	<div id="cart" class="collapse">
			
				
   

		 
				   		<h2>Cart</h2>
						             
						  <table class="table table-bordered" ng-controller="cartController">
						    <thead>
						      <tr  >
						        
						         <th>Image</th>
						        <th>Snack name</th>
						        <th>QTY</th>
						        <th>Price</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="chosen in cartItems">
						         <td><img src="{{chosen.pic}}" style="width:50px;height:50px" /></td>
						        <td>{{chosen.name}}</td>
						        <td >{{chosen.qtys}}</td>
						       
						       
						        <td>{{chosen.total }}</td>
						      </tr>
						   
						    </tbody>
						  </table>
										 
						<button type="button" class="btn btn-info"ng-controller="cartController"  ng-click="adds();addreq()">check out</button>
						  </div>	
			
				 

  </div>	
 
	   </div>			  

  </li>	
				<footer class="footer-distributed">

					<div class="footer-left">

						<h3>Johnathon<span>Online Store</span></h3>
						

					<p class="footer-links">
							<a href="index2.html">Home</a>
							·
							<a href="about.html">About Us</a>
					
							·
							<a href="form.html">Request</a>
							.
							<a href="#">Contact</a>
							·
						</p>

						<p class="footer-company-name">Johnathon Online Store &copy; 2019</p>

						

						<div class="footer-icons">
							
							<a href = ""><img src = "fb.ico" height = "35px" width = "33px">
							<a href = ""><img src = "twitter.ico" name= "twittter" height = "35px" width = "33px">
							<a href = ""><img src = "snap.jpg" height = "35px" width = "33px">
							<a href = ""><img src = "ig.png" height = "35px" width = "33px">
						</a>
					</a>
				</a>
			</a>
						</div>

					</div>

					<div class="footer-right">

						<p>Contact Us</p><br>

						<form action="feedback.html" method="post">

							<input type="text" name="email" placeholder="Email" />
							<br>
							<textarea name="message" placeholder="Message"></textarea>
							<button>Send</button>

						</form>

					</div>

				</footer>
		<img src ="banner.png" width = "1550px" height = "100px">






		<script>
		var slideIndex = 0;
		showSlides();

		function showSlides() {
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			for (i = 0; i < slides.length; i++) 
			
			{
			   slides[i].style.display = "none";  
			}
			
			slideIndex++;
			if 
			(slideIndex > slides.length)

			{slideIndex = 1}    
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex-1].style.display = "block";  
			dots[slideIndex-1].className += " active";
			setTimeout(showSlides, 5000); // Changes image every 5 seconds
		}






		</script>


	</body>
</html>




