<!DOCTYPE html>
<html>

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>John's Online Shop</title>
 
		<script type = "text/javascript" language = "javascript" src = "js/match_harmony.js"></script>
		<script src="js/angular.min.js"></script>
   		 <script src="js/angular-mocks.js"></script>

         <script src="js/johnShop.js"></script>
 
		<link rel="stylesheet" type="text/css" href="css/webstyle.css">
		<link rel="icon" href="Logo.png" sizes="180x180" type="image/png" >
 
		<style>
 
		</style>

	</head>


	<body ng-app="shop" ng-controller="Controller">
		
	{{20+10}}



		<div id="shell">
	

			
		<table align = "center"  height = "100%" width = "150%" >
		   <tr>
				<td>
		<ul>
		 
		 <li><a href="index2.html">Home</a></li>
		 <li><a href="about.html">About Us</a></li>

		 <li><a href="form.html">Request</a>
		 

		  </li>
		 <li><a href="#">Contact</a>
		  <ul>
		   
		  </ul>
		 </li>
		 <li><a href="#">References</a></li>
		</ul>
		</td>
		</tr></center>
		</table>



		<img src="grocery.jpg" usemap="#image-map" width = "1600px" height = "1200px">
		
		<form class="m-t" role="form" name="loginToIGraph" >
               	<center><div id = "nav">
               	<center><h3>LOGIN TO THE STORE</h3></center>
	                <div class="form-group">
	                    <label>Username</label>		<input type="text" class="form-control" placeholder="Username" required="" ng-model="user.username" ></label>
	                </div><br>
	                <div class="form-group">
	                    <label>Password</label>		<input type="password" class="form-control" placeholder="Password" required="" ng-model="user.password" >
	                	<a href="#"><small>         Forgot password?</small></a><br>
	                </div>
	                <center><button type="submit" class="btn btn-primary block full-width m-b" ng-click="login.loginUser(user)">Login</button>
	                </center>
	                <p class="text-muted text-center"><small>Do not have an account?</small>
	                <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a></p>
            	</div></center>
            </form>  

		<map name="image-map">
			<area target="" alt="" title="" href="form.html" coords="789,956,1143,1082" shape="rect">
		</map>

			
				<p><font size = "5"> 

				<center>



					<font size = "5"> </font></p>

					
					
			
		 <table>
			<center>
		<table align = "center"  height = "90%" width = "70%" >
		   <tr>
				<td>


		<p>John's Online Shop mission is to deliver quality products at affordable prices to our independent students or school staff around the campus of UTECH by providing local procurement, distribution, marketing and supply chain management.</p>




		</td>
		</tr></center>
		</table>
				
				
				
				
				<br><br><br><br>
			
				
				<img src ="strip.png" width = "1500px" height = "400px">
				
				
			

				<br><br>	<br><br>	
				
			<div class="parallax"></div>
					<img src ="customer.jpg" width = "1550px" height = "400px">>
					
					
			
				
				<br>
		<div class="collage"></div>


		<br><br><br>

			
				
			<br><br><br><br><br>
				<div class="container">
				  <h2>PLACE YOUR ORDER</h2>
				  <p>Click on the button to SIGN UP].</p>
				  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
				  <div id="demo" class="collapse">
				    <!-- Material form register -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign up</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;">

            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormFirstName" class="form-control" ng-model="user.stu_ID">
                        <label for="materialRegisterFormFirstName">Student ID</label>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormLastName" class="form-control" ng-model="user.name">
                        <label for="materialRegisterFormLastName">Name</label>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="text" id="materialRegisterFormEmail" class="form-control" ng-model="user.location">
                <label for="materialRegisterFormEmail">Location</label>
            </div>

            
            
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form register -->
				  </div>
				</div>
	<div class="container">
				  <h2>PLACE YOUR ORDER</h2>
				  <p>Click on the button to SIGN UP].</p>
				  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demos">Sign IN</button>
				  <div id="demos" class="collapse">
				    <!-- Material form register -->
		<div class = "successfuldating">
		 <center><h1 id = "a:link"><a href = "success.html" class="class1">Things You Can Find at John's Shop</a></h1></center> 
		 
		 <div id="slide">
		  <div class="slideshow-container">
			 <div class="mySlides fade"> <img src="black.jpg" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="bla.jpg" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="success2.jpg" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="splashsuccess.png" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="qwr.jpg" style="width:100%"> </div>
			<div class="mySlides fade"> <img src="prop.jpg" style="width:100%"> </div>
			

			
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a> </div>
		  <br>
		  <div style="text-align:center"> 
		  <span class="dot" onclick="currentSlide(1)"></span> 
		  <span class="dot" onclick="currentSlide(2)"></span> 
		  <span class="dot" onclick="currentSlide(3)"></span>
		  <span class="dot" onclick="currentSlide(4)"></span>
		  <span class="dot" onclick="currentSlide(4)"></span>
		  <span class="dot" onclick="currentSlide(4)"></span>
		  <span class="dot" onclick="currentSlide(4)"></span>
		   </div>
		 

		<br><br>
		</div>
		</div>
		
		<div class="success"></div>
		
		<table cellspacing="0" cellpadding="0">
 				  <colgroup span="7"></colgroup>

				   <tbody>
				     <tr class="days">
				       <th scope="col" title="Name">Select</th>
				       <th scope="col" title="Name">Name</th>
				       <th scope="col" title="Instock">Instock</th>
				       <th scope="col" title="Price">Price</th>
				       <th scope="col" title="Availabilityy">Quantity</th>
				       <th scope="col" title="Friday">Fri</th>
				       <th scope="col" title="Saturday">Sat</th>
				       <th scope="col" title="Sunday">Sun</th>
				     </tr>
       <tr  >
       
       
        
    <table>
      <tr ng-repeat="(key,value) in snacks">
        <td>
          <input type="checkbox" ng-model="choice[$index]" ng-true-value="{{value}}" ng-false-value="{{undefined}}" />{{value.name}}  <select name="multipleSelect" id="multipleSelect" ng-model="qty[$index]" multiple>
      <option value="option-1">1</option>
      <option value="option-2"> 2</option>
      <option value="option-3"> 3</option>
    </select><br>
        </td>
      </tr>
    </table>{{choice}}</div>
  						
     
    
         
     </tr>
 </tbody>
 </table>
  {{cart}}
		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demos" ng-click="add()">Order</button>
		</div>
		<table><center>
				
		<br><br>


			
				<footer class="footer-distributed">

					<div class="footer-left">

						<h3>Johnathon<span>Online Store</span></h3>
						

					<p class="footer-links">
							<a href="index2.html">Home</a>
							·
							<a href="about.html">About Us</a>
					
							·
							<a href="form.html">Request</a>
							.
							<a href="#">Contact</a>
							·
						</p>

						<p class="footer-company-name">Johnathon Online Store &copy; 2019</p>

						

						<div class="footer-icons">
							
							<a href = ""><img src = "fb.ico" height = "35px" width = "33px">
							<a href = ""><img src = "twitter.ico" name= "twittter" height = "35px" width = "33px">
							<a href = ""><img src = "snap.jpg" height = "35px" width = "33px">
							<a href = ""><img src = "ig.png" height = "35px" width = "33px">
						</a>
					</a>
				</a>
			</a>
						</div>

					</div>

					<div class="footer-right">

						<p>Contact Us</p><br>

						<form action="feedback.html" method="post">

							<input type="text" name="email" placeholder="Email" />
							<br>
							<textarea name="message" placeholder="Message"></textarea>
							<button>Send</button>

						</form>

					</div>

				</footer>
		<img src ="banner.png" width = "1550px" height = "100px">






		<script>
		var slideIndex = 0;
		showSlides();

		function showSlides() {
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			for (i = 0; i < slides.length; i++) 
			
			{
			   slides[i].style.display = "none";  
			}
			
			slideIndex++;
			if 
			(slideIndex > slides.length)

			{slideIndex = 1}    
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex-1].style.display = "block";  
			dots[slideIndex-1].className += " active";
			setTimeout(showSlides, 5000); // Changes image every 5 seconds
		}






		</script>


	</body>
</html>




