@charset "ISO-8859-1";



@media screen and (min-width: 1366px) {
#gallery-1 img {width:375px;}
}
@media screen and (min-width: 1440px) {
#gallery-1 img {width:428px;}
}
@media screen and (min-width: 1600px) {
#gallery-1 img {width:434px;}
}
@media screen and (min-width: 1920px) {
#gallery-1 img {width:540px;}
}
@media and (min-width: 992px){
/*desktop*/
#main_div {
width: 100%;
max-width: 1200px;
}
}
div#shell{
	overflow:hidden;
	height:100%;
	width:100%;
}
body{
	width:100%;
	margin:auto;
	min-width:600px;
	max-width:2000px
	}
	.m-t{
	padding-top: 30px;
	padding-left: 20px;
	background: #f90335;
	width: 35%;
	height: 110%;
	border-radius: 40px;
	opacity: .90;
	border: 5px solid #000000;
	font-size: 20px;
}

body {
 
 
 
background: ('love.jpg');
 background-size: no-repeat;
 background-repeat: no-repeat;
 margin-left: 0px auto%;
 background-position:center;
  font-family:  Arial, Helvetica, sans-serif;
}

textarea
{
	
resize: none;
padding: 5px;
background-color: ;	

	
}
div#content{
	overflow:auto;
	width:101.5%;
	height:100%;
	margin-left:16.5px;
}




p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: #7ed321;
}

.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
ul {
	
 margin: 0px;
 padding: 0px;
 list-style: none;
 font-family: arial;
}

ul li {
 float: left;
 width: 400px;
 height: 60px;
 background-color: #000000;
 opacity: .9;
 line-height: 60px;
 text-align:center;
 font-size: 23px;

}

ul li a {
 text-decoration: none;
 color: white;
 display: block;
}

ul li a:hover {
 background-color: purple;
}

ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}

.header 
{		
		background: white;
		color:blue;
		border:3px solid black;
		width: 600px;
		margin: 0px auto;
		text-align: center;
		text-decoration: underline;
		font-weight: bold;
		margin-bottom: 30px;
}

.header1
{
	background: url ('.jpg');
	border: 1px dashed green;
	width: 600px;
	height: 300px;
	margin: 0px auto;
	margin-top: 30px;
	
}

.splashpage
{
	
	
background: ('love.jpg');
    -webkit-filter: blur(5px);
  filter: blur(5px);

}
	 
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: red;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

 

body label {
  display: block;
  line-height: 40px;
}












//*Form*//

body{
	
	margin: 0;
	padding: 0;
	
} 
.login-form{
	opacity: 0.9;
    filter: alpha(opacity=50);
	box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: auto;
	height: auto;
	position: absolute;
	padding: 1px 25px;
	background: #eee;
	background-repeat: no-repeat;
	left: 50%;
	top:100%;
	transform: translateX(-50%) translateY(-50%);
	border-bottom: 15px solid orange;
	border-radius: 50px;
	
	
}
/*width for form if changed*/
1099px
.form{
	width: 100%;
	position: relative;
	margin: 25px auto;
}
.input{
	width: 350px;
	height: 50px;
	position: relative;
	margin: 15px auto;
}
input[type="text"],

input[type="password"]{
	width: 350px;
	height: 50px;
	position: relative;
	outline: none;
	border:2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	font-family: sans-serif,Arial;
	color: gray;
}
.glow{
	position: absolute;
	right: 5px;
	top: 16px;
	font-size: 20px;
	color: gray;
}




input[type="submit"]{
	width: 100%;
	height: 50px;
	background: #0AC986;
	font-family: sans-serif,Arial;
	font-size: 16px;
	color: #fff;
	outline: none;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
}


.button {
  border-radius: 4px;
  background-color: #0AC986;
  font-family: sans-serif,Arial;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
 width: 190px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 10;
  right: 0;
}



.button:hover {background-color: green}

.button:active {
  background-color: #3e8e41;
  
  transform: translateY(4px);
}

input[type="reset"]{
	width: 130px;
	height: 60px;
	background: red;
	font-family: sans-serif,Arial;
	font-size: 16px;
	color: #fff;
	outline: none;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
}

input[type="button"]
{
	width: 190px;
	height: 60px;
	background: red;
	font-family: sans-serif,Arial;
	font-size: 16px;
	color: #fff;
	outline: none;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	
}
.error-msg{
	font-size: 16px;
	font-family: sans-serif,Arial;
	color: red;
	margin-top:50px;
	display: none;
}




input[type="date"],


input[type="password"]{
	width: 100%;
	height: 50px;
	position: relative;
	outline: none;
	border:2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	font-family: sans-serif,Arial;
	color: gray;
}


select{
	width: 350px;
	height: 50px;
	position: relative;
	outline: none;
	border:2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	font-family: sans-serif,Arial;
	color: gray;
}

input[type="number"]{
	width: 350px;
	height: 50px;
	position: relative;
	outline: none;
	border:2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	font-family: sans-serif,Arial;
	color: gray;
}

select:hover {

		color: black;

	}

	input[type="button"]
	
	{
		  border-radius: 4px;
  background-color: #0AC986;
  font-family: sans-serif,Arial;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 130px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
	
		
	
	
/*Slideshow */	
#slide{
	width:96%;
	}
	
* {
	box-sizing: border-box
}

.mySlides {
	display: none
}

.slideshow-container {
	width: 1200px;
	position: relative;
	margin: -10px;

}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}	

	
.succesfuldating
{
	font: color red;
}

A.class1 {color:#blue;}
A.class1:link  {text-decoration: none; color:black;font-size: 40px;}
A.class1:visited {text-decoration: none; color: black;}
A.class1:hover {text-decoration: none; color: green;}
A.class1:active {text-decoration: none; color: red;}




	
.collage {
    /* The image used */
    background-image: url("lovey.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3200px 800px;
}

.collage2 {
    /* The image used */
    background-image: url("q.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3200px 800px;
}
.material-iconss {vertical-align:-14%}

    .indent-20{
    	margin: 10px;
    }

		
	
	.footer-distributed{
	background-color:black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	
	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	
	<!-- Check Later --!>
	background: url ('.jpg');
	color:  #ffffff;
	font: normal 55px 'Cookie', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
	
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	font-size: 23px;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */


/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}


@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}

	input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, 

textarea:focus 
{
  box-shadow: 0 0 5px green;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
	


	
	
	
	
	
	
	
	
	
	
	
	
	body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background:  no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}



















